.select img{
    height: 15px;
}
body{
    /* background-color: #64113F; */
    background-color: #1a659e;
    /* color: #fff; */
    overflow: hidden;
}
.container{
    border: 1px solid;
    padding: 20px;
    border-radius: 3px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 200px;
    margin: 150px auto;
}
.container input{
    width: 100%;
}
.select{
    margin-top: 20px;
}
.container #btn{
    background-color: #dad7cd;
    border: 1px solid #dad7cd;
    height: 7vh;
    border-radius: 10px;
    cursor: pointer;
}